/**/
#navigation ul{

    /*remove bullet point*/
    list-style-type: none ;

    /*no space between ul and nav div*/

    margin: 0;
    padding: 0;
    background-color: silver;
    border: red 1px;


}
#navigation li{

    /* move text to center*/
    text-align: center;

    /*move all list items to one line*/
    display: inline;

}
#navigation li a {
    color: orange;
    margin: 20px;

    /*remove underscore ___for my hyper link*/
    text-decoration: none;

}
#navigation li a:hover{
    background-color: black;
    font-size: large;
}

#navigation li img{
    width: 50px;
    height: 50px;
}

/*animation*/
/*1stly setup div setup*/
#animation{
    width: 100px;
    height: 100px;
    background-color: blue;
    /*    thirdly setup animation*/
    animation-name: firstanimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/*secondly add key frame*/
@keyframes firstanimation {
    /*in key fram will change from this to that*/
    from {background-color: orange;}
    to {background-color: chartreuse;}

}

#animation2{
    /*absolute -- locate by scree*/
    /*relative -- locate by previouse location*/
    /*fixed -- screen but never change*/
    position: relative;
    width: 100px;
    height: 100px;
    background-color:red;
    animation-name: secondAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
/*secondly add key frame*/
@keyframes secondAnimation {
    0% {background-color: red; left: 0px; top: 0px;font-size: 15px;}
    20% {background-color: blueviolet; left: 400px; top: 0px; font-size: 50px;}
    40% {background-color: orange; left: 400px; top: 400px; font-size: 100px;}
    60% {background-color: aqua; left: 0px; top: 400px; font-size: 50px;}
    80% {background-color: crimson; left: 0px; top:0px; font-size: 15px;}
    100% {background-color: black;}
}

#imageAnimation img{
    transform: rotate 90 degrees
    transform-origin: 50px 50%;

    /*these 3 we must have other wise no link*/
    animation-name: imageRotate ;
    /*use animation name for key frames */
    animation-duration: 10s ;
    animation-iteration-count: infinite;


}

/*@keyframes creates animation in css = 24 frames{*/
@keyframes imageRotate {
    /*link to animation name*/

    from {transform: rotate(60deg);}
    to {transform: rotate(100deg); transform: scale(2);}

}
}